name: Run CI

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  TASK_X_REMOTE_TASKFILES: 1

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: aquaproj/aqua-installer@ea518c135a02fc11ff8024364510c181a5c6b342 # v4.0.3
        with:
          aqua_version: v2.51.2
      - name: Setup workspace
        run: |
          task --yes setup
      - name: 'Run linters'
        run: |
          lefthook run pre-commit --all-files
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13', '3.14']
        workspace: ['locked', 'latest']
    steps:
      - uses: actions/checkout@v5
      - uses: aquaproj/aqua-installer@ea518c135a02fc11ff8024364510c181a5c6b342 # v4.0.3
        with:
          aqua_version: v2.51.2
      - name: Set up Python ${{ matrix.python-version }}
        run: 'echo ${{ matrix.python-version }} > .python-version'
      - name: 'Configure env as locked deps by uv.lock'
        run: 'uv sync --all-extras --frozen'
        if: ${{ matrix.workspace == 'locked'}}
      - name: 'Configure env as latest deps on PyPI'
        run: 'uv sync --all-extras -U'
        if: ${{ matrix.workspace == 'latest'}}
      - name: Run tests
        run: |
          uv run pytest
          uv run pytest functests
  doctest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: aquaproj/aqua-installer@ea518c135a02fc11ff8024364510c181a5c6b342 # v4.0.3
        with:
          aqua_version: v2.51.2
      - name: Setup workspace
        run: |
          task --yes setup
      - name: Run tests
        run: |
          uv run make -C doc apidoc linkcheck dirhtml
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: aquaproj/aqua-installer@ea518c135a02fc11ff8024364510c181a5c6b342 # v4.0.3
        with:
          aqua_version: v2.51.2
      - name: Build package
        run: |
          uv build
          ls -l dist
